:host {
	position: relative;
	display: block;
	overflow: visible;
	cursor: pointer;
}

/* Print styles - Hide edit buttons when printing */
@media print {
	:host {
		padding-left: 0 !important;
		margin-left: 0 !important;

		.edit-btn {
			display: none !important;
		}
	}
}
