:host {
  aspect-ratio: 1 / 1.414; /* A4 aspect ratio */
  display: grid;
  border: 1px solid var(--color-primary-dark);
  border-radius: var(--radius-s);
  width: 100%;
  height: auto;
  padding: var(--space-xs);
}
