:host {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--space-s);
	padding: var(--space-xs);
	form {
		display: flex;
		flex-direction: column;
		border-radius: var(--radius-m);
		position: relative;
		textarea,
		code-input {
			resize: vertical;
			padding: var(--space-2xs);
			margin-block-start: -2px;
			border-radius: var(--radius-m);
			margin-top: calc(var(--space-l) + 6px);
			margin-bottom: var(--space-xs);
			min-height: 120px;
			font-family: "Martian Mono", monospace;
		}
	}
	/* shared label styling */
	label {
		position: absolute;
		font-weight: bold;
		padding: var(--space-xs);
		border-top-left-radius: var(--radius-s);
		border-top-right-radius: var(--radius-s);
		border-bottom-left-radius: var(--radius-s);
		height: 90%;
		width: 100%;
		z-index: -1;
		margin-left: calc(var(--space-xs) * -1);
	}
	.hidden {
		visibility: hidden;
		display: none;
	}
}

:host(.selected) textarea,
:host(.selected) code-input {
	outline: 2px solid var(--color-focus-outline);
}

.styling-label {
	color: white;
	background-color: rebeccapurple;
}

.content-label {
	background-color: var(--color-primary-green);
}

.section-buttons {
	display: flex;
	justify-content: space-between;
	gap: var(--space-xs);
	min-height: 2.5cap;
}

.delete-button {
	background-color: maroon;
	color: white;
}
