<form
	class="content-form"
	[class.hidden]="!showContent()"
	[formGroup]="contentForm"
>
	<label class="content-label" for="content">Content</label>
	<textarea (focus)="sectionSelected()" formControlName="content"></textarea>
</form>

<form class="style-form" [class.hidden]="showContent()" [formGroup]="styleForm">
	<label class="styling-label" for="styling">Styling</label>
	<textarea (focus)="sectionSelected()" formControlName="styling"></textarea>
</form>

<div class="section-buttons">
	<button class="toggle-button" (click)="showContent.set(!showContent())">
		Toggle Content/Styling
	</button>

	<button class="delete-button" (click)="removeSection()">
		Delete Section ⚠️
	</button>
</div>
